@{
    ViewData["Title"] = "Home Page";
}

<body style=" background-color: cornsilk">
    <h1 align=" center" style="font-family:'Bell MT' "> Té para todos</h1>

    <div ng-app="">

        <p style="font-size: 10px" align="right">Usuario de empleado: <input type="text" ng-model="Caja1" placeholder="Introduzca Usuario" id="C1"></p>
        <p style="font-size: 10px" align="right">Contraseña de empleado: <input type="text" ng-model="Caja2" placeholder="Introduzca Contraseña" id=" C2"></p>
        <p style="font-size: 10px" align="right"><input id="Boton1" type="button" value="Ingresar" /></p>

      
        

    </div>
    <p style="font-size: 10px" align="center">
        <textarea  id="TextArea1" rows="10" cols="200" style="background-color:antiquewhite ; font-family:Calibri ; font-size: 10px"> En la mayoría de países asiáticos existe alguna leyenda tradicional que explica cómo se descubrió el té. Una de las más conocidas parte del budismo y cuenta que durante la meditación bajo el árbol Bodhi, Buda contempló los sufrimientos y los graves problemas a los que se enfrenta el hombre en la vida: la tristeza, la soledad, la enfermedad, la vejez y la muerte. Ante estos pensamientos el sabio y compasivo Siddharta dejó caer una lágrima de sus ojos. En el mismo lugar donde cayó su lágrima creció de la tierra el arbusto del té, la poción que ha proporcionado consuelo espiritual a millones de personas durante la historia de la humanidad. 

Sin embargo los orígenes que se atribuyen al té son diversos. La historia china cuenta que fue el emperador chino Sheng Nung quien descubrió el té 2737 años a.C., hace casi 5.000 años. El emperador dormía a la sombra de un arbusto mientras a su lado se hervía agua en un recipiente. Algunas hojas de este arbusto cayeron casualmente en el agua hirviendo y el emperador encontró la infusión deliciosa y vigorizante. Sin embargo la difusión del té se produjo en la dinastía T'ang (618-907) cuando el monje budista Lu Yu recopiló experiencias y conocimiento de sus antepasados en el primer compendio sobre esta infusión: Clásico del té. Más tarde el monje budista Yeisei llevó el té hasta Japón, donde se convirtió en un brebaje unido al arte, la perfección y la pureza.
</textarea></p>

</body>