@{
    ViewData["Title"] = "Bienvenidos";
}
<body style="background-color:sienna">
    <h2 style="align-content:center; color:antiquewhite">Tesitos varios</h2>

    <p style="font-size:20px ; font-family:'Agency FB'; color:antiquewhite " align="center">Tés </p>
    <p></p>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p style=" color:antiquewhite">Te Blanco</p>
                <a href="https://www.tetique.com/blog/te-blanco/que-es-el-te-blanco/">
                    <img border="0" alt="W3Schools" src="~/images/TeBlanco.jpg" width="100" height="100">
                </a>
            </div>
            <div class="col-sm-4">
                <p style=" color:antiquewhite">Te Negro</p>
                <a href="https://sweetea.myshopify.com/blogs/news/11-propiedades-y-beneficios-del-te-negro-que-mejoraran-tu-dia-a-dia">
                    <img border="0" alt="W3Schools" src="~/images/TeNegro.jpg" width="100" height="100">
                </a>
            </div>
            <div class="col-sm-4">
                <p style=" color:antiquewhite">Te Rojo</p>
                <a href="https://www.ecoagricultor.com/te-rojo-beneficios-y-propiedades-medicinales/">
                    <img border="0" alt="W3Schools" src="~/images/TeRojo.jpg" width="100" height="100">
                </a>
            </div>
        </div>
    </div>
    <p></p>
    <p style="font-size:20px ; font-family:'Agency FB'; color:antiquewhite " align="center">Infusiones </p>
    <p></p>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <p style=" color:antiquewhite">Infusión de manzanilla</p>
                <a href="https://www.salud180.com/nutricion-y-ejercicio/8-razones-para-decirle-si-al-te-de-manzanilla">
                    <img border="0" alt="W3Schools" src="~/images/Manzanilla.jpg" width="100" height="100">
                </a>
            </div>
            <div class="col-lg-4">
                <p style=" color:antiquewhite">Infusión de limón</p>
                <a href="https://www.lifeder.com/beneficios-del-te-de-limon/">
                    <img border="0" alt="W3Schools" src="~/images/Limon.jpg" width="100" height="100">
                </a>
            </div>
            <div class="col-lg-4">
                <p style=" color:antiquewhite">Infusión de Oolong</p>
                <a href="https://www.hierbasorganicas.com.mx/blogs/hierbas-organicas/te-oolong-caracteristicas-y-beneficios-para-la-salud">
                    <img border="0" alt="W3Schools" src="~/images/oolong.jpg" width="100" height="100">
                </a>
            </div>
        </div>
    </div>
    </body>
