
@{
    ViewData["Title"] = "NuevaCuenta";
}

<h2>Tu nueva cuenta</h2>
<p align="center" style="font-family:Calibri ; font-size: 15px">Introduce tus datos</p>
<p style="font-size: 10px" align="center">Nombre de usuario nuevo: <input type="text" ng-model="Caja1" placeholder="Introduzca Usuario" id="C1"></p>
<p style="font-size: 10px" align="center">Contraseña nueva: <input type="text" ng-model="Caja2" placeholder="Introduzca Contraseña" id=" C2"></p>
<p style="font-size: 10px" align="center">Nombre completo: <input type="text" ng-model="Caja1" placeholder="Introduzca Nombre" id="C3"></p>
<button id="btnConfir" runat="server" name="btnCrearCuenta" style="font-size: 10px" align="center">Confirmar</button>



